.mirage{
  padding: 100px;
}
.container {
    position: absolute;
    max-width: 100%;
            width: 50%;
            margin: 0 auto;
            position: relative;
            border: 5px solid #05132d;           
            border-top-left-radius: 4.25rem;
            border-bottom-right-radius: 4.25rem;
            padding: 32px 32px 32px;
            background: linear-gradient(229.28deg, rgba(5, 19, 45, 0.39) 12.44%, rgba(134, 38, 150, 0.14) 29.04%, rgba(146, 128, 46, 0.37) 52.64%, rgba(5, 19, 45, 0.35) 74.56%);
            backdrop-filter: blur(4px); 
  }
  
  input {
    display: block;
    height: 40px;
    width: 80%;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-left: 30px;
    padding: 5px;
    margin-bottom: 5px;
    color: white;
    background: linear-gradient(229.28deg, rgba(5, 19, 45, 0.39) 12.44%, rgba(134, 38, 150, 0.14) 29.04%, rgba(146, 128, 46, 0.37) 52.64%, rgba(5, 19, 45, 0.35) 74.56%);
    backdrop-filter: blur(4px); 
  }
  .button{
      margin: 20px;
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;
  }
  
  button {
    background-color: #05132d;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    padding: 10px 20px 10px;
    box-sizing: inherit;
  }
  
  .scoreText {
    text-align: center;
    padding: 5px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: #05132d;
  }
  h1{
text-align: center;
  }

  